Source: kscreenlocker
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules,
               kwayland-dev,
               libkf5crash-dev,
               libkf5declarative-dev,
               libkf5globalaccel-dev,
               libkf5idletime-dev,
               libkf5kcmutils-dev,
               libkf5kdelibs4support-dev,
               libpam0g-dev,
               libqt5x11extras5-dev,
               libwayland-dev,
               libx11-dev,
               libxcb-keysyms1-dev,
               libxcb1-dev,
               libxcursor-dev,
               pkg-config,
               pkg-kde-tools,
               plasma-framework-dev,
               qtbase5-dev
Standards-Version: 3.9.6
Section: libs
Homepage: https://projects.kde.org/kscreenlocker
XS-Testsuite: autopkgtest
Vcs-Git: git://anonscm.debian.org/pkg-kde/plasma/kscreenlocker.git
Vcs-Browser: https://anonscm.debian.org/gitweb/?p=pkg-kde/plasma/kscreenlocker.git;a=summary

Package: kscreenlocker-dev
Section: libdevel
Architecture: any
Depends: libkscreenlocker5 (= ${binary:Version}), ${misc:Depends}
Description: Development files for kscreenlocker
 Library and components for secure lock screen architecture.
 .
 This package contains development files for kscreenlocker.

Package: libkscreenlocker5
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Secure lock screen architecture
 Library and components for secure lock screen architecture.

Package: kde-config-screenlocker
Architecture: any
Depends: libkscreenlocker5 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: KCM Module for kscreenlocker
 KDE systemsettings module to configure kscreenlocker

Package: kscreenlocker-dbg
Architecture: any
Section: debug
Depends: libkscreenlocker5 (= ${binary:Version}), ${misc:Depends}
Description: Debug files for kscreenlocker.
 Library and components for secure lock screen architecture.
 .
 This package contains debug files for kscreenlocker.
