#!/usr/bin/make -f

l10npkgs_firstversion_ok := 4:4.14.0-4

include /usr/share/pkg-kde-tools/qt-kde-team/3/debian-qt-kde.mk
include /usr/share/pkg-kde-tools/qt-kde-team/2/debian-qt-kde.mk

override_dh_strip:
	$(overridden_command) --dbg-package=kscreenlocker-dbg

override_dh_auto_test:
	# Disable dh_auto_test at build time
	:
